* {box-sizing: border-box; padding: 0; margin: 0; font-family: var(--font);}

:root {
    --font: "Roboto", Helvetica;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 0.5em;
    background-color: #000;
    padding: 1em;
}

/********************/
/* NAV MENU WRAPPER */
/********************/

/* BURGER */
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
}
.nav-wrapper .burger{
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    height: 30px;
    width: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav-wrapper .burger div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 0%;
    transition: 0.3s;
}

.nav-wrapper .burger .line2{
    margin: 6.5px 0;
}

.burger-active .line1{
    transform: rotate(45deg);
}
.burger-active .line2{
    opacity: 0;
}
.burger-active .line3{
    transform: rotate(-45deg);
}
/* NAV ELEMENTS */
.nav-wrapper .navlink-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3em 3em 2em 3em;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    transform: translateX(100%);
    transition: 0.3s;
}

.navlink-wrapper li{
    margin: 16px 0;
    color: #fff;
}

.nav-active {
    transform: translate(0%) !important;
}

/*********/
/* CLOCK */
/*********/

.clock-wrapper {
    width: 100%;
    grid-area: 1/1/5/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);    
    gap: 0.5rem;
}

.timer-wrapper {
    color: #fff;
    grid-area: 1/1/8/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-wrapper .timer {
    font-family: "Roboto Mono", Courier, monospace;

    font-size: 4rem;
}


.interval-name {
    color: #fff;
    text-align: center;
    grid-area: 8/1/10/2;
    font-size: 2.5rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    grid-area: 10/1/11/2;
}

.button-wrapper button{
    margin: 1.5em;
    height: 100%;
    width: 70px;
}
.button-wrapper button svg{
    width: 100%;
    height: 100%;
}

/* INTERVAL INPUT FORM */

#set-intervals {
    grid-area: 5/1/6/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #222;
}

#set-intervals *{
    font-size: 1rem;
    margin: 0.25rem;
}
.set-interval-name {
    width: fit-content;
    flex:1;
}
.set-interval-time {
    width: 15%;
}
#set-intervals #set {
    width: 25%;
}


/*************/
/*************/
/* **MODAL** */
/*************/
/*************/



.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 32px;
    visibility: hidden;
    z-index: 150;
}
.modal-open {
    visibility: visible;
}

.modal form{
    width: 100%;
    background-color: #666;
    padding: 16px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.form-open {
    display: flex !important;
}

.modal form div {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.modal form button{
    padding: 16px 32px;
    max-width: 150px;
}
/************/
/* SETTINGS */
/************/
#settings-form {
    display: none;
}

/* REPEAT */
/* SOUND EFFECT */
/* COLOUR THEME */

/************/
/* **SAVE** */
/************/
#save-form div{
    flex-direction: column;
    width: 100%;
}
#save-form div input,label{
    padding: 8px;
}
#save-form div input{
    width: 100%;
}

/************/
/* **LOAD** */
/************/
.saved-interval-container {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
}
.saved-interval-container .saved-interval-element{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* INTERVALS */
#intervals {
    padding: 1em 0;
    grid-column: 1/5;
    background-color: #222;
    font-size: 1rem;
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.interval {
    background-color: #cccccc;
    display: flex;
    width: 100%;
    padding: 0.5em;
    transform: translateY(0%);
    transition: 0.3s;
    max-height: 60px;
}


.interval .name, .edited-interval-name {
    flex: 1;
}

.interval .time{
    width: 20%;
}
.edited-interval-time {
    width: 12%;
}
.interval button {
    width: 12%;
    height: 100%;
}

.interval #edit-ok, .interval .edit-cancel {
    width: 10%;
}


/* DRAG STATES */
.dragged-over {
    margin-top: 50px;
}

.dragged-over-last {
    margin-bottom: 50px;
}

.hide {
    display: none;
}
