* {box-sizing: border-box; margin: 0; padding: 0; font-family: 'Poppins', Helvetica, cursive;}

.grid-container{
    display: grid;
    padding: 0 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/***************************************/
/*********TITLE WRAPPER*****************/
/***************************************/
.title-wrapper {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 0 16px;
    position: relative;
}


h1 {
    text-align: center;
    font-size: 44px;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 900;
    line-height: 44px;
}

.intro-text{
    margin: 16px 0;
    padding: 16px 0;
    position: relative;
}

.title-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background-color: #eee;
    z-index: -1;
    transform: translateY(76px);
}

/***************************************/
/************PORTFOLIO ITEMS************/
/***************************************/

.portfolio-item-wrapper {
    grid-column: 1/5;
    margin: 32px 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    border-radius: 15px;
}

.frame-wrapper {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin: 32px 0;
    transition:  0.2s ease-out;
    cursor: pointer;
}
.frame-wrapper:hover{
    transform: scale(1.02);
    border-radius: 15px;
}

.frame-wrapper iframe{
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    z-index: -1;
    pointer-events: none;
}

/***************************************/
/*****************FOOTER****************/
/***************************************/
.footer-wrapper {
    grid-column: 1/5;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    padding-bottom: 64px;
}
.footer-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 100vw;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    background-color: #eee;
    z-index: -1;
}

h3{
    margin: 16px 0;
}

/***************************************/
/***************************************/
/*************SMALL DESKTOPS************/
/***************************************/
/***************************************/
@media only screen and (min-width: 900px){
    .grid-container{
        padding: 0 32px;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
    }
    
    .title-wrapper{
        grid-column: 2/8;
    }
    
    .title-wrapper::before{
        width: 100%;
        left: 0;
    }
    h1 {
        font-size: 58px;
    }

    .portfolio-item-wrapper{
        grid-column: 3/7;
    }
    
    /***************************************/
    /*****************FOOTER****************/
    /***************************************/
    .footer-wrapper {
        grid-column: 2/8;
    }
    .footer-wrapper::before{
        width: 100%;
        left: 0;
    }
}
/***************************************/
/***************************************/
/*************MEDIUM DESKTOPS***********/
/***************************************/
/***************************************/
@media only screen and (min-width: 1200px) {
    .grid-container{
        padding: 0 80px;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }

    .title-wrapper{
        grid-column: 4/10;
    }
    /***************************************/
    /************PORTFOLIO ITEMS************/
    /***************************************/   
    .portfolio-item-wrapper{
        grid-column: 2/12;
    }
    .portfolio-item-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .portfolio-item {
        margin: 64px 0;
    }
    .item-text {
        max-width: 40ch;
    }
    /***************************************/
    /*****************FOOTER****************/
    /***************************************/
    .footer-wrapper {
        grid-column: 4/10;
    }
    .footer-wrapper::before{
        width: 100%;
        left: 0;
    }
}

/***************************************/
/***************************************/
/**************LARGE DESKTOPS***********/
/***************************************/
/***************************************/
@media only screen and (min-width: 1400px) {
    .grid-container{
        padding: 0 120px;
        gap: 28px;
    }
    .portfolio-item-wrapper{
        grid-column: 2/12;
    }
}