* {box-sizing: border-box; padding: 0; margin: 0; font-family: var(--font);}

:root {
    --font: "Roboto", Helvetica;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    background-color: #000;
    padding: 1em;
    padding-bottom: calc(71px + 3em);
    position: relative;
}

/********************/
/********************/
/* NAV MENU WRAPPER */
/********************/
/********************/

/* BURGER */
.nav-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    z-index: 100;    
}
.navelement-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%; 
}
.navelement-wrapper p{
    font-size: 0.75rem;
    text-transform: capitalize;
    color: #fff;
}
.navelement-wrapper img{
    height: 30px;
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(214deg) brightness(106%) contrast(100%);
}
#add-split img {
    height: 35px;
}
.nav-wrapper .burger{
    display: flex;
    height: 30px;
    width: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav-wrapper .burger div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 0%;
    transition: 0.3s;
}

.nav-wrapper .burger .line2{
    margin: 6.5px 0;
}

.burger-active .line1{
    transform: rotate(45deg);
}
.burger-active .line2{
    opacity: 0;
}
.burger-active .line3{
    transform: rotate(-45deg);
}
/* NAV ELEMENTS */
.nav-wrapper .navlink-wrapper{
    position: absolute;
    bottom: 69px;
    right: 0;
    padding: 2em 3em 2em 3em;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    transform: translateY(calc(100% + 71px));
    transition: 0.3s;
}

.navlink-wrapper li{
    margin: 16px 0;
    color: #fff;
}

.nav-active {
    transform: translate(0%) !important;
}

/*********/
/*********/
/* CLOCK */
/*********/
/*********/

.clock-wrapper {
    width: 100%;
    height: 50vh;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);    
    gap: 0.5rem;
}

.timer-wrapper {
    color: #fff;
    grid-area: 1/1/8/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-wrapper .timer {
    font-family: "Roboto Mono", Courier, monospace;

    font-size: 4rem;
}


.interval-name {
    color: #fff;
    text-align: center;
    grid-area: 8/1/10/2;
    font-size: 2.5rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    grid-area: 10/1/11/2;
}

.button-wrapper button{
    margin: 1.5em;
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: none;
}
.button-wrapper button img{
    height: 100%;
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(214deg) brightness(106%) contrast(100%);
}
.button-wrapper button:disabled img{
    height: 100%;
    filter: invert(29%) sepia(0%) saturate(1741%) hue-rotate(181deg) brightness(90%) contrast(71%);
}
/* INTERVAL INPUT FORM */

#set-intervals {
    width: 100%;
    padding: 0 1em;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 69px;
    left: 0;
    transform: translateY(calc(100% + 71px));
    transition: transform 0.3s;
}

.set-intervals-active {
    transform: translateY(0%) !important;
}


#set-intervals *{
    font-size: 1rem;
    margin: 0.25rem;
}
#set-intervals span {
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    position: relative;
}
#set-intervals span .chevron{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    height: 16px;
    width: 16px;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
    transform: rotate(45deg);
    transform-origin: 100%;
}

.set-interval-name {
    width: fit-content;
    flex: 1;
    height: 35px;
}
.set-interval-time {
    width: 15%;
    height: 35px;
}
#set-intervals #set {
    width: 25%;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 0;
}


/*************/
/*************/
/* INTERVALS */
/*************/
/*************/

#intervals {
    padding: 1em 0;
    grid-column: 1/5;
    grid-row-start: 7;
    font-size: 1rem;
    height: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    /* gap: 1em; */
}
#repeat-form {
    padding: 1em 0;
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
}
.interval {
    background-color: #cccccc;
    display: flex;
    width: 100%;
    padding: 1rem;
    transform: translateY(0%);
    transition: 0.3s;
    border-radius: 2px;
    font-size: 1rem;
    max-height: 51px;
    margin: 0.5em 0;
}

.interval .name {
    flex: 1;
}

.interval .time{
    width: 20%;
}
.edited-interval-time {
    width: 2rem;
}
.interval button {
    width: 10%;
    height: 100%;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
.interval button:disabled{
    filter: invert(29%) sepia(0%) saturate(1741%) hue-rotate(181deg) brightness(90%) contrast(71%);
}
.edit {background-image: url(icons/pencil-fill.svg); display: none;}
.delete {background-image: url(icons/delete-bin-line.svg); display: none;}
.copy {background-image: url(icons/file-copy-line.svg); display: none;}
#edit-ok, .edit-cancel {width: 8%;}

.interval .options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.interval .options div{
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
}

.options-active {
    background-image: url(icons/close-fill.svg);
}
.interval .options-active div {
    background-color: transparent;
}
.interval-button-active {
    display: block !important;
}
/* EDIT STATE */
#edit-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-form input {
    padding: 0.5rem 0;
}

.edited-interval-name {
    flex: 1;
    /* margin-right: 16px; */
}

#edit-ok{background-image: url(icons/check-fill.svg);}
.edit-cancel{background-image: url(icons/close-fill.svg);}


/* DRAG STATES */
.dragged-over {
    margin-top: 50px;
}

.dragged-over-last {
    margin-bottom: 50px;
}

.hide {
    display: none;
}

/**************/
/**************/
/* **REPEAT** */
/**************/
/**************/

.add-rep {
    grid-row: 6;
    grid-column: 4;
    height: 35px;

    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.repeat-settings {
    /* height: 70px; */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    background-color: #555;
    padding: 0.5em;
    border-radius: 2px;
}

.repeat-settings *{
    margin: 0 0.5em
}
.repeat-settings p {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 0.5em;
}
.repeat-settings input{
    width: 70px;
}
.repeat-settings label{
    color: #ccc;
}
.repeat-settings button{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: background-color 0.3s;
}

.repeat-settings button img{filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(214deg) brightness(106%) contrast(100%);}
.repeat-settings button:disabled{border-color: rgb(84,84,84)}
.repeat-settings button:disabled img{filter: invert(29%) sepia(0%) saturate(1741%) hue-rotate(181deg) brightness(90%) contrast(71%);}
.repeat-settings button:active{background-color: rgba(255,255,255,0.5);}

/* REPEATED INTERVALS */
.repeated {
    width: calc(100% - 32px);
    background-color: #999;
}
.times-to-repeat {
    max-width: 30px;
    color: #fff;
    width: 20px;
    font-size: 1rem;
    position: absolute;
    left: 16px;
}

.topbar, .bottombar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin: 2px 0;
}

#repeat-form .delete{
    width: 25px;
    height: 25px;
    background-position: center;
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(214deg) brightness(106%) contrast(100%);
    border: none;
    background-color: transparent;
} 
/*************/
/*************/
/* **MODAL** */
/*************/
/*************/



.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 32px;
    visibility: hidden;
    z-index: 150;
}
.modal-open {
    visibility: visible;
}

.modal form{
    width: 100%;
    background-color: #666;
    padding: 16px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.form-open {
    display: flex !important;
}

.modal form div {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.modal form button{
    padding: 16px 32px;
    max-width: 150px;
}
/************/
/* SETTINGS */
/************/
#settings-form {
    display: none;
}

/* REPEAT */
/* SOUND EFFECT */
/* COLOUR THEME */

/************/
/* **SAVE** */
/************/
#save-form div{
    flex-direction: column;
    width: 100%;
}
#save-form div input,label{
    padding: 8px;
}
#save-form div input{
    width: 100%;
}

/************/
/* **LOAD** */
/************/
.saved-interval-container {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
}
.saved-interval-container .saved-interval-element{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}
.saved-interval-container .saved-interval-element label{
    display: flex;
    flex: 1;
}
.saved-interval-container .saved-interval-element label span{
    flex: 1;
}
.saved-interval-element .delete-saved-button{
    width: 20px;
    max-width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 15px;
    background-image: url(icons/delete-bin-line.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

/* desktop */
@media only screen and (min-width:900px) {
    .wrapper {
        grid-template-columns: repeat(8,1fr);
        gap: 20px;
        padding: 20vh 0;
        position: relative;
    }
    .clock-wrapper {
        grid-area: 1/3/5/7;
    }
    #set-intervals {
        grid-area: 5/3/6/7;
    }
    #intervals, #repeat-form {
        grid-column: 3/7;
    }

    .modal form{
        width: 45vw;
    }
    .times-to-repeat{
        grid-column: 3;
        left: 0;
    }
}